html
  head
    title BudgetSheep | dashboard
    meta(charset='utf-8', name='viewport', content='width=device-width, initial-scale=1')
    script(type='text/javascript', src='js/signout-auth.js')
    script(type='text/javascript', src='js/navbtn.js')
    link(rel='stylesheet', type='text/css', href='css/dashboard.css')
    link(rel='stylesheet', type='text/css', href='css/modal.css')
  body
    .navbar
      span#title
        | WELCOME! Plan your budget today...
        span#uid
      input#lg-btn.logout(type='button', value='Log out', onclick='signout()', style='float: right;')
    .main
      ul(style='list-style-type:none')
        li.item MY PLAN
      table#table
        tr
          th Category
          th Description
          th Amount
          th Priority
      .fab
        button#newplan(onclick='newplan()') New Plan
    script(src='https://www.gstatic.com/firebasejs/3.9.0/firebase.js')
    script(type='text/javascript', src='js/auth.js')
