html
  head
    title BudgetSheep | Sign Up
    meta(charset='utf-8')
    script(src='https://www.gstatic.com/firebasejs/3.9.0/firebase.js')
    script(src='js/auth.js')
    link(rel='stylesheet', type='text/css', href='css/signup.css')
  body
    h1 BudgetSheep
    p easy budgeting.
    .form
      form.register-form
        input#username(type='text', placeholder='name')
        input#email-tf(type='text', placeholder='email (example@eg.com)')
        input#passwd-tf(type='password', placeholder='password (at least 8 characters)')
        input#btn(type='button', value='create', onclick='createuser()')
        p.message
          | Already registered?
          a(href='/') Sign In
    p#toast
    script(type='text/javascript', src='js/createuser-auth.js')
